<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Scraper</title>
  <meta name="description" content="XML output">
  <meta name="author" content="CharlesCode">
  
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/style.min.css">

</head>

<body>
    
    <div class="container">
       <h2 style-"color: #444;font-size: 2rem;text-align: center;margin-top: 3rem;">Sorry, we can't find the requested resource.</h2>
    </div>
    
</body>
</html>
