{{define "content"}}
<div class="content">
    
    <div class="row main">
        <div class="side_dash three columns">
            <form id="resource-method" name="sidebar-methods">
                <div id="submit-btn" class="resource">
                    <div class="submit_wrap">
                        <input type="submit" id="method-submit" name="submit" />
                    </div>
                </div>
                <div id="resource-type" class="resource">
                    <h3>Resource</h3>
                    <div class="rsource_wrap">
                        <div class="rsource redata">
                            <label for="xml_typ">XML</label>
                            <input type="radio" id="xml_typ" name="rsource_typ" value="xml" autocomplete="off" />
                        </div>
                        <div class="rsource redata">
                            <label for="http_typ">HTTP</label>
                            <input type="radio" id="http_typ" name="rsource_typ" value="http" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div id="xml-method-type" class="resource resource-method">
                    <h3>Method</h3>
                    <div class="rsource_wrap">
                        <div class="rsource remeth">
                            <div class="imp_contain">
                            <label for="raw_xml">raw</label>
                            <input type="radio" id="raw_xml" name="xml_typ" value="raw-xml" autocomplete="off" />
                            </div>
                        </div>
                        <div class="rsource remeth">
                            <div class="imp_contain">
                            <label for="deep_xml">deep</label>
                            <input type="radio" id="deep_xml" name="xml_typ" value="deep-xml" autocomplete="off" />
                            </div>
                        </div>
                        <div class="rsource remeth">
                            <div class="imp_contain">
                            <label for="flat_xml">flat</label>
                            <input type="radio" id="flat_xml" name="xml_typ" value="flat-xml" autocomplete="off" />
                            </div>
                        </div>
                        <div class="rsource remeth">
                            <div class="imp_contain">
                            <label for="minimal_xml">minimal</label>
                            <input type="radio" id="minimal_xml" name="xml_typ" value="minimal-xml" autocomplete="off" />
                            </div>
                        </div>
                        <div class="rsource remeth">
                            <div class="imp_contain">
                            <label for="cnn_xml">cnn</label>
                            <input type="radio" id="cnn_xml" name="xml_typ" value="cnn-xml" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="http-method-type" class="resource resource-method">
                    <h3>Method</h3>
                    <div class="rsource_wrap">
                        <div class="rsource remeth">
                            <div class="imp_contain">
                            <label for="raw_http">raw</label>
                            <input type="radio" id="raw_http" name="http_typ" value="raw-http" autocomplete="off" />
                            </div>
                        </div>
                        <div class="rsource remeth">
                            <div class="imp_contain">
                            <label for="flat_http">flat</label>
                            <input type="radio" id="flat_http" name="http_typ" value="flat-http" autocomplete="off" />
                            </div>
                        </div>
                        <div class="rsource remeth">
                            <div class="imp_contain">
                            <label for="deep_http">deep</label>
                            <input type="radio" id="deep_http" name="http_typ" value="deep-http" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    
        
        <div class="data_display nine columns">
            <div class="display_btn_wrap">
                <div class="edit_save">
                    <button class="sv_display" id="save_display">cache url</button>
                </div>
                <div class="edit_delete">
                    <button class="del_display" id="delete_display">uncache url</button>
                </div>
                <div class="edit_clear">
                    <button class="clr_display" id="clear_display">clear</button>
                </div>
            </div>
            <div id="display_tb" class="table_wrap">

            </div>
        </div>
    </div>
</div> 
{{end}}
