
                <table id="fancytable" class="display">
                    <col width="35%">
                    <col width="65%">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Keywords</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                         <tr>
                            <td>This is Only a test.</td>
                            <td>Stay Very Calm</td>
                        </tr>
                        <tr>
                            <td>Coffee</td>
                            <td>Bear's Claw</td>
                        </tr>
                    </tbody>
                </table>
            
