{{define "header"}}
<header>
        <div class="container">
            <div class="top_left three columns">
                <h1 class="go_heading">ScraperTool</h1>
                <p>{{ . }}</p>
            </div>
            <div class="top_right nine columns">
                <input id="inp_url" class="url_inp" type="text" autocomplete="off" autofocus />
                <input id="hidden_name" class="hidden-name" type="text" autocomplete="off" />
                <input id="hidden_id" class="hidden-id" type="text" autocomplete="off" />
                <div class="top-rt-btns">
                    <div class="list-btn">
                        <button id="show-list">ShowList</button>
                    </div>
                    <div class="add-btn">
                        <a href="#ex1" data-modal>
                            <button id="edit-target">Editor</button>
                        </a>
                    </div>
                </div>
            </div>
            <div id="ex1" class="modal">
              <form id="new-item-form" name="item-adder">
                <div class="modal-block-wrap">
                    <div class="modal-blocks form-text">
                        <label for="i_name">Content Provider</label>
                        <input type="text" id="i_name" name="item-name" autocomplete="off" autofocus />
                        <label for="i_url">Url</label>
                        <input type="text" id="i_url" name="item-url" autocomplete="off" />
                        <label for="i_type">Type</label>
                        <input type="text" id="i_type" name="item-type" autocomplete="off" />
                        <label for="i_method">Method</label>
                        <input type="text" id="i_method" name="item-method" autocomplete="off" />
                        
                    </div>
                    <div class="modal-blocks radios">
                        <div class="radio-wrap">
                            <input type="radio" id="b-add" name="protor" value="add" autocomplete="off" />
                            <label for="b-add">Add CP</label>
                            <input type="radio" id="b-modify" name="protor" value="modify" autocomplete="off" />
                            <label for="b-modify">Modify Url</label>
                            <input type="radio" id="b-delete-url" name="protor" value="del-url" autocomplete="off" />
                            <label for="b-delete-url">Delete Url</label>
                            <input type="radio" id="b-delete-cp" name="protor" value="del-cp" autocomplete="off" />
                            <label for="b-delete-cp">Delete CP</label>
                        </div>
                    </div>
                    <div class="">
                            <div class="submit_wrap">
                                <input type="submit" id="item-submit" name="submit-item" />
                            </div>
                    </div>
                </div>
            </form>
              <a href="#" class="modal-close-btn" rel="modal:close">Close</a>
            </div>
        </div>
    </header>
{{end}}
