$header-blue: #295C6E;
$body-blue: #57A7C2;
$background: #e3e3e3;
body {
    font-family: arial;
}
.container {
     background: $background;
}
.modal {
    
    form {
        margin-bottom: 1.5rem;
    }
    .modal-block-wrap {
        width: 100%;
        font-size: 0;
        .modal-blocks {
            display: inline-block;
            width: 50%;
            font-size: 14px;
            vertical-align: top;
            &.radios {
               
                .radio-wrap {
                    width: 100%;
                    padding: 5rem 0 0 3rem;
                    label,
                    input {
                        display: inline-block;
                        margin-top: 1rem;
                    }
                    label {
                        min-width: 170px;
                        vertical-align: top;
                    }
                    input[type="radio"] {
                      width: 20px;
                      height: 20px;
                      margin-right: 1rem;
                    }
                }
            }
            &.form-text {
                label {
                    font-weight: normal;
                }
                font-weight: normal;
            }
        }
    }
    .modal-close-btn {
        color: #E05E0D;
    }
}
header {
    width: 100%;
    h1 {
       margin: 1rem 0 0 1rem;
    }
    .go_heading {
        text-align: left;
        color: $header-blue;
        font-size: 2.3rem;
        font-weight: bold;
        padding: 1rem;
    }
    p {
        text-align: left;
    }
    .top_right {
        padding: 3rem 1rem 0rem 0rem;
        box-sizing: border-box;
        .url_inp {
            display: inline-block;
            width: 60%;
        }
        
        .hidden-name,
        .hidden-id {
            display: none;
        }
        .top-rt-btns { 
            padding-left: 0rem;
            display: inline-block;
            width: 37%;
            .add-btn,
            .list-btn {
                display: inline-block;
            }

            .add-btn,
            .list-btn {
                button {
                    padding: 0 .5rem;
                    height: 2.5rem;
                    line-height: 2.5rem;
                }
            }
            .add-btn {
                padding-left: 1rem;
            }
        }
    }
}

.main {
    padding-bottom: 8rem;
    padding: 2 1.5rem;
    
    .columns {
        padding: 1rem;
    }
    .side_dash {
        padding: 1.5rem 0rem 1rem 2.5rem;
       h3 {
            font-size: 1.8rem;
            margin-bottom: .8rem;
        }
        .resource.resource-method {
            display: none;
        }
        .rsource_wrap {
            width: 100%;
            text-align: center;
            box-sizing: border-box;
             background: #fff;
            border: 1px solid #fff;
            border-radius: .3rem;
            margin-bottom: 3rem;
            padding: .5rem 1rem 0rem 1.5rem;

            &:after {
                content: '';
                display: table;
                clear: both;
            }
            .rsource.redata {
                width: 50%;
                display: inline-block;
                float: left;
               text-align: left;
                input,
                label {
                   cursor: pointer;
                }
            }
            .rsource.remeth {
                width: 100%;
                .imp_contain {
                    width: 100%;
                    display: block;
                   text-align: left;
                   overflow: auto;
                    input,
                    label {
                        display: inline-block;
                        float: left;
                       cursor: pointer;
                    }
                    label {
                        width: 30%;
                    }
                    input {
                        width: 30%;
                        margin-left: 1.5rem;
                        margin-top: .5rem;
                        margin-bottom: .5rem;
                    }
                }
            }
        }
        .submit_wrap {
            width: 100%;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .data_display {
        padding: 1.8rem 2.5rem 2rem 0;
        margin-top: 0;
         height: 100%;
         .display_btn_wrap {
            display: block;
            width: 100%;
            &:after {
                content: "";
                clear: both;
                display: table;
            }
             .edit_save,
             .edit_delete,
             .edit_clear {
               float: left;
               padding-left: .1rem;
                button {
                        font-size: 10px;
                        margin-bottom: .4rem;
                        padding: 0;
                        height: 2rem;
                        line-height: 2rem;
                        min-width: 100px;
                    }
             }
             .edit_delete,
             .edit_clear {
                padding-left: 1.2rem;
             }
         }
        .table_wrap {
            border: 8px solid #757E82;
            padding: 1.2rem 2.5rem 2.5rem 2.5rem;
            background: #fff;
            min-height: 500px;
            a {
                word-wrap: break-word;
            }
            a.small_txt {
                font-size: 10px;
            }
            .dataTables_wrapper {
                .dataTables_length {
                    label {
                        margin-bottom: 0;
                        select {
                            margin-bottom: 1rem;
                            height: 28px;
                            padding-top: 3.3px;
                        }
                    }
                }
                .dataTables_filter {
                    label {
                        margin-bottom: 0;
                        input {
                            margin-bottom: 0rem;
                        }
                    }
                }
            }
            .display {
               a {
                    color: $header-blue;
                    &:hover {
                        color: gray;
                    }
                }
                input[type=button] {
                    height: 20px;
                    line-height: 20px;
                    padding: 0 5px;
                    font-size: 8px;
                }
            }
            textarea {
                width: 100%;
                min-height: 500px;
            }
            .list_wrapper {

                .url_wrapper_wrap {
                    margin-bottom: .5rem;
                    //border-top: 1px solid #ABAEAF;
                }
                div:nth-child(2) {
                    border-top: none;
                }
                .url_wrapper_wrap.even {
                    background: #ffffff;
                }
                .url_wrapper_wrap.odd {
                    //background: #F2F1F1;
                }
                a {
                    color: #444;//#757E82;
                    text-decoration: none;

                    &:hover {
                        color: #9CA7AB;
                    }
                }
                .row .columns {
                    padding: .4rem 1rem .1rem 1rem;
                }
                .name_row {
                    
                    border: 1px solid #ABAEAF;
                    margin-top: 2rem;
                    background: #e3e3e3;
                }
                .url_row {

                    
                   // border-left: 1px solid #ABAEAF;
                    //border-right: 1px solid #ABAEAF;
                    //border-bottom: 1px solid #ABAEAF;
                }
                .meta_row {
                   // border-left: 1px solid #ABAEAF;
                   // border-right: 1px solid #ABAEAF;
                    //border-bottom: 1px solid #ABAEAF;
                    .eight,
                    .four {
                        
                        a {
                            color: #222;
                            padding: .15rem .6rem 0 .6rem;
                            height: 2.5rem;
                            line-height: 2.5rem;
                            margin-bottom: .3rem;
                            border: 1px solid #222;
                            border-radius: 2px;
                            font-size: 1rem;
                            &:first-child {
                                //margin-right: 1rem;
                            }
                            &:hover {
                                background-color: $background;
                            }
                        }
                        span {
                            &:first-child {
                                margin-right: 3rem;
                            }
                        }
                   }
                }

            }
        }
        .table_wrap.eddy {
            display: none;
        }
    }
}
