$header-blue: #295C6E;
$body-blue: #57A7C2;
$background: #e3e3e3;
body {
    font-family: arial;
}
.container {
     background: $background;
}
.modal {
    
    form {
        margin-bottom: 1.5rem;
    }
    .modal-block-wrap {
        width: 100%;
        font-size: 0;
        .modal-blocks {
            display: inline-block;
            width: 50%;
            font-size: 14px;
            vertical-align: top;
            &.radios {
               
                .radio-wrap {
                    width: 100%;
                    padding: 5rem 0 0 3rem;
                    label,
                    input {
                        display: inline-block;
                        margin-top: 1rem;
                    }
                    label {
                        min-width: 170px;
                        vertical-align: top;
                    }
                    input[type="radio"] {
                      width: 20px;
                      height: 20px;
                      margin-right: 1rem;
                    }
                }
            }
            &.form-text {
                label {
                    font-weight: normal;
                }
                font-weight: normal;
            }
        }
    }
    .modal-close-btn {
        color: #E05E0D;
    }
}
header {
    width: 100%;
    h1 {
       margin: 1rem 0 0 1rem;
    }
    .go_heading {
        text-align: left;
        color: $header-blue;
        font-size: 2.3rem;
        font-weight: bold;
        padding: 1rem;
    }
    p {
        text-align: left;
    }
    .top_right {
        padding: 3rem 1rem 1rem 0rem;
        box-sizing: border-box;
        .url_inp {
            display: inline-block;
            width: 60%;
        }
        .top-rt-btns { 
            padding-left: 1rem;
            display: inline-block;
            width: 37%;
            .add-btn,
            .list-btn {
                display: inline-block;
            }

            .add-btn,
            .list-btn {
                button {
                    padding: 0 .5rem;
                    height: 2.5rem;
                    line-height: 2.5rem;
                }
            }
            .add-btn {
                padding-left: 1rem;
            }
        }
    }
}

.main {
    padding-bottom: 8rem;
    padding: 2 1.5rem;
    
    .columns {
        padding: 1rem;
    }
    .side_dash {
        padding: 1.5rem 0rem 1rem 2.5rem;
       h3 {
            font-size: 1.8rem;
            margin-bottom: .8rem;
        }
        .resource.resource-method {
            display: none;
        }
        .rsource_wrap {
            width: 100%;
            text-align: center;
            box-sizing: border-box;
             background: #fff;
            border: 1px solid #fff;
            border-radius: .3rem;
            margin-bottom: 3rem;
            padding: .5rem 1rem 0rem 1.5rem;

            &:after {
                content: '';
                display: table;
                clear: both;
            }
            .rsource {
                width: 50%;
                display: inline-block;
                float: left;
               text-align: left;
                label {
                   
                }
                
            }
        }
        .submit_wrap {
            width: 100%;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .data_display {
        padding: 1.8rem 2.5rem 2rem 0;
        margin-top: 1rem;
         height: 100%;
        .table_wrap {
            border: 8px solid #757E82;
            padding: 2.5rem;
            background: #fff;
            min-height: 500px;
            .display {
               a {
                    color: $header-blue;
                    &:hover {
                        color: gray;
                    }
                }
                input[type=button] {
                    height: 20px;
                    line-height: 20px;
                    padding: 0 5px;
                    font-size: 8px;
                }
            }
            textarea {
                width: 100%;
                min-height: 500px;
            }
            .list_wrapper {
                border-top: 1px solid #414647;
                a {
                    color: #757E82;
                    text-decoration: none;
                    &:hover {
                        color: #9CA7AB;
                    }
                }
                .row .columns {
                    padding: .4rem 1rem .1rem 1rem;
                }
                .name_row {
                    
                    border: 1px solid #414647;
                    margin-top: 2rem;
                    background: #e3e3e3;
                }
                .url_row {

                    
                    border-left: 1px solid #414647;
                    border-right: 1px solid #414647;
                    border-bottom: 1px solid #414647;
                }
                .meta_row {
                    border-left: 1px solid #414647;
                    border-right: 1px solid #414647;
                    border-bottom: 1px solid #414647;
                    .eight,
                    .four {
                        
                        input[type=button] {
                            padding: 0 .5rem;
                            height: 2.5rem;
                            line-height: 2.5rem;
                            margin-bottom: .3rem;
                            &:first-child {
                                margin-right: 1rem;
                            }
                        }
                        span {
                            &:first-child {
                                margin-right: 3rem;
                            }
                        }
                   }
                }

            }
        }
    }
}
